# 01 iloc 감각 잡기
다음은 가상의 성적 데이터입니다.

In [5]:
import pandas as pd

data = {
    "name": ["A", "B", "C", "D", "E"],
    "math": [90, 75, 88, 92, 60],
    "english": [85, 80, 78, 95, 70],
    "science": [88, 70, 90, 93, 65]
}

df = pd.DataFrame(data)

In [6]:
df.iloc[1, 1:] #1

math       75
english    80
science    70
Name: 1, dtype: object

In [7]:
df.iloc[3, 1:] #2

math       92
english    95
science    93
Name: 3, dtype: object

In [8]:
for i in range (2,5):
    print(df.iloc[i, 1:]) #3

math       88
english    78
science    90
Name: 2, dtype: object
math       92
english    95
science    93
Name: 3, dtype: object
math       60
english    70
science    65
Name: 4, dtype: object

In [9]:
 df.iloc[-1, 1:]

math       60
english    70
science    65
Name: 4, dtype: object

In [10]:
print (df[df['math']>=80])

  name  math  english  science
0    A    90       85       88
2    C    88       78       90
3    D    92       95       93

In [11]:
df[df['math']>=80]['name']

0    A
2    C
3    D
Name: name, dtype: str

In [12]:
max = df['math'][0]
name = df['name'][0]
for i in range (1, len(df)):
    if (df['math'][i] >=max):
        max = df['math'][i]
        name = df['name'][i]
print(max, name)

92 D

In [13]:
max = df['math'][0]
name = df['name'][0]
df['avr'] = (df['math'] + df['english'] + df['science'])/3
for i in range (1, len(df)):
    if (df['avr'][i] >=max):
        max = df['avr'][i]
        name = df['name'][i]
print(max, name)

93.33333333333333 D

1. 첫 번째 행을 iloc으로 출력하시오.

2. 세 번째 학생의 영어 점수를 출력하시오.

3. 두 번째부터 네 번째 학생까지의 모든 과목 점수를 출력하시오.

4. 마지막 행만 출력하시오.

5. 수학 점수가 80점 이상인 학생만 출력하시오.

6. 그 중에서 이름(name) 컬럼만 출력하시오.

7. 수학 점수가 가장 높은 학생 한 명만 출력하시오.

8. 평균 점수가 가장 높은 학생을 구하시오. (새 컬럼 만들기)

# 02 pandas 추가 문제
다음은 가상의 쇼핑몰 데이터입니다.

In [14]:
data = {
    "customer_id": [1, 2, 3, 1, 2, 3],
    "product": ["A", "B", "A", "C", "A", "B"],
    "price": [10000, 20000, 10000, 15000, 10000, 20000],
    "quantity": [1, 2, 1, 3, 2, 1]
}
df = pd.DataFrame(data)

In [15]:
df['total_price'] =  df["price"] * df['quantity']

In [16]:
total = 0
for i in range(len(df)):
    total += df['total_price'][i]
print(total)

145000

In [33]:
product_list = []

for i in range (len(df['product'])):
    value = df['product'].iloc[i]
    if (value != 'A' and value != 'B' and value != 'C'):
        product_list.append(int(value))

count_a = 0
count_b = 0
count_c = 0

for value in product_list:    
    if ( value % 20000 == 0):
        count_b += 1
    elif ( value % 15000 == 0):
        count_c += 1
    elif (value % 10000 == 0):
        count_a += 1
    
if (count_a >= count_b) and (count_a >= count_c):
    print("A")
elif (count_b >= count_a) and (count_b >= count_c):
    print("B")
else:
    print("C")

A

In [30]:
df['product'][0]

'A'

In [42]:
for i in range (len(df['price'])):
    if (df['price'][i] >= 15000):
        print (i)

1
3
5

1. 총 구매 금액(total_price) 컬럼을 새로 만드시오.

2. 고객별 총 지출 금액을 구하시오.

3. 가장 많이 구매된 상품은 무엇인가?

4. 고객 1번이 구매한 상품만 출력하시오.

5. 가격이 15000원 이상인 상품만 출력하시오.