**문제1) 연산기호를 이용해 수식으로 표현해보고 그 결과를 확인해보세요.**

* integer 25와 integer 12를 더하시오.
* integer 13에서 integer 19를 빼시오.
* integer 92과 float 8.0 을 곱하시오.
* float 81.5을 float 2.0으로 나누시오.
* integer 7를 5로 나눴을 때, 몫을 구하시오.
* interger 100을 interger 7로 나눈 나머지를 구하시오.
* integer 3의 세제곱을 구하시오.

In [1]:
25+12

37

In [2]:
13-19

-6

In [3]:
92*8.0

736.0

In [4]:
81.5/2.0

40.75

In [5]:
7//5

1

In [6]:
100%7

2

In [7]:
3**3

27

**문제2) 다음 각각의 자료형을 말하고, 코드를 작성하여 결과를 확인해보세요.**

* `3`
* `3.0`
* `'3'`
* `'3.0'`
* `"3"`
* `"3.0"`

In [8]:
type(3)

int

In [9]:
print("3")

3

In [10]:
type(3.0)

float

In [11]:
print("3.0")

3.0

In [12]:
type('"3"')

str

In [13]:
print("'3'")

'3'

In [14]:
type('3.0')

str

In [15]:
print("'3.0'")

'3.0'

In [16]:
type('"3"')

str

In [17]:
print('"3"')

"3"

In [18]:
type('"3.0"')

str

In [19]:
print('"3.0"')

"3.0"

**문제3) 우유 가격은 1830원이고, 아이스크림 가격은 1500원입니다. 아이스크림은 3개이상 구입시 5%를 할인해줍니다. 우유 2개와 아이스크림 3개를 구입할 때 지불해야 하는 가격을 변수를 활용하여 코드로 작성해보세요.**

In [52]:
milk = 1830
ice = 1500
value = milk*2 + (ice*3)*95/100
print (value)

7935.0

**문제4) 1㎡는 0.3025평입니다. 84㎡는 몇 평인가요? 반대로 30평은 몇 ㎡인가요?**

In [55]:
m = 0.3025
eighty_fourm = m*84
print (eighty_fourm)

25.41

In [56]:
value = 100-0.25
print(value)

99.75

**문제5) 100만원을 월이율 3%인 예금에 1년간 복리로 은행에 맡겼습니다. 1년후에 받는 돈은 얼마인지를 확인하는 코드를 작성해보세요. 출력된 결과는 아래와 같습니다.**

> 1년 후 받는 원금 + 이자는 OOO원입니다.

In [57]:
money = 100*103/100
print("1년 후 받는 원금 + 이자는 %d 만원입니다."%money)

1년 후 받는 원금 + 이자는 103 만원입니다.

**문제6) string 연산을 이용하여 다음의 실행결과가 나오도록 코드를 작성해보세요.**

(1)

```
안녕하세요. 안녕하세요. 안녕하세요.
```

(2)
```
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
```

In [58]:
st = "안녕하세요."
st*3`

'안녕하세요.안녕하세요.안녕하세요.'

In [81]:
stn= "안녕하세요.\n안녕하세요.\n안녕하세요.\n안녕하세요.\n안녕하세요."
print(stn)

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

**문제7) `dogs`와 `cats` 두 개의 변수가 다음과 같이 assign되었습니다.**  
`dogs, cats = '12', '7'`  

(1) `dogs`와 `cats` 변수에 할당된 값의 자료형을 확인해보세요.  
(2) 강아지가 고양이보다 몇 마리 더 많은지 확인하는 코드를 작성해보세요. 출력된 결과는 아래와 같은 형식입니다. formatting을 사용해서 표현해보세요.
> 강아지가 고양이보다 n 마리 더 많다.

In [41]:
dogs, cats = 12 , 7
a = dogs-cats
print ("강아지가 고양이보다 %d 마리 더 많다."% a)

강아지가 고양이보다 5 마리 더 많다.

**문제8) 다음 문제에 답해봅시다.**   

`colors = 'red blue yellow'`  

1) `colors`에서 `b`를 추출하는 코드를 작성해보세요.

In [43]:
color = 'red blue yellow'
color[4]

'b'

2) `colors`에서 `low`를 추출하는 코드를 작성해보세요.

In [47]:
color[12:15]

'low'

3) `colors`에서 `due`를 추출하는 코드를 작성해보세요.

In [51]:
color[2] + color[6:8]

'due'

**문제9) 다음 문제에 답해봅시다.**  

1) `'12345' * 3` 한 것을 변수 `nums`에 할당해보세요.

In [77]:
nums = "12345 * 3"

2) `nums`에서 `111`을 추출하는 코드를 작성해보세요.

In [78]:
nums[:1] + nums[:1] + nums[:1]

'111'

3) `nums`에서 `555`을 추출하는 코드를 작성해보세요.

In [80]:
nums[4] + nums[4] + nums[4]

'555'

**문제10) 다음 중 variable의 이름으로 적당하지 않은 것은? 그리고 그 이유는?**  

1) `WelshCorgi`
2) `20231225`
3) `__dog`

#### 2번 왜냐하면 2번은 오직 숫자로 이루어져 있기 때문이다.

**문제11) 아래 문장의 오타를 전부 고쳐서 출력해보세요.**

In [30]:
sentence = 'My name ist Stella. I love puppppies and chocolata.'

In [39]:
a = 'My name is Stella. I love puppies and chocolate.'
print (a)

My name is Stella. I love puppies and chocolate.

**문제12) 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력해보세요.**

In [26]:
license_plate = "28가 2291"

In [27]:
license_plate [4:8]

'2291'

**문제13) 다음의 전화번호에서 하이픈 ('-')을 제거하고 다음과 같이 출력해보세요.**

`010 1234 5678`

In [6]:
phone_number = "010-1234-5678"

In [23]:
a = "010"
b = "1234"
c = "5678"
print(a, b ,c)

010 1234 5678