**문제1) 다음 문제에 답하여라.**   

`colors = 'red blue yellow'`  

1) `colors`에서 `b`를 추출하는 코드를 작성하라.

In [2]:
colors = 'red blue yellow'
colors[4]

'b'

2) `colors`에서 `low`를 추출하는 코드를 작성하라.

In [3]:
colors[12:15]

'low'

**문제2) 과일 목록을 할당받는 fruit 변수가 아래와 같이 선언되었다.**

`fruit = "banana apple orange pineapple mango strawberry cherry"`

1) 각 과일 단어를 모두 대문자로 변경하려면 어떻게 해야 하는가?

In [7]:
fruit = "banana apple orange pineapple mango strawberry cherry"
fruit.title()

'Banana Apple Orange Pineapple Mango Strawberry Cherry'

2) `fruit` 변수로부터 대문자 Y를 추출하는 코드를 작성하여라.

In [9]:
 fruit[45].upper(), fruit[52].upper()

('Y', 'Y')

**문제3) 아래와 같이 선언된 lyrics변수가 있다.**

`lyrics = " When you're smiling, the whole world smiles with you "`

아래의 문제에 답하여라. 단, 특정 메소드들을 사용하여 한 줄 코드로 작성해야 한다.

1) 위 문자열 양 끝에 있는 스페이스를 삭제하고, 모든 문자는 대문자로 변환시킨다.

In [53]:
lyrics = " When you're smiling, the whole world smiles with you "
lyrics[::1].upper()

" WHEN YOU'RE SMILING, THE WHOLE WORLD SMILES WITH YOU "

2) 위 문자열 양 끝에 있는 스페이스를 삭제하고, When you're smiling은 When you are smiling으로 변경하여라.

In [57]:
#a = lyrics[1:53].split(' ')
a = lyrics[::1].replace("'", " a")
a

' When you are smiling, the whole world smiles with you '

3) 아래와 같은 결과를 출력하는 코드를 작성하여라.

`["when", "you're", "smiling,", "the", "whole", "world", "smiles", "with", "you"]`

In [120]:
a=lyrics[1:53].lower()
a.split(" ")

['when',
 "you're",
 'smiling,',
 'the',
 'whole',
 'world',
 'smiles',
 'with',
 'you']

**문제4) 아래 문자열**

`'n o r t h w e s t e r n'`

**을 이용하여 아래 문자열을 생성하는 코드를 구현하라.**

`'Northwestern'`

In [157]:
n='n o r t h w e s t e r n'
n=n.capitalize()
a=n.split(" ")
print("".join(a))

Northwestern

**문제5) 아래 리스트에 새로운 원소 "wish" 를 추가하라. 최소 3가지 방법을 사용해보자.**

In [191]:
movie_list = ["닥터 스트레인지", "맘마미아2", "서울의 봄"]
movie_list.insert(3,"wish")
movie_list

['닥터 스트레인지', '맘마미아2', '서울의 봄', 'wish']

In [192]:
a=["닥터 스트레인지", "맘마미아2", "서울의 봄", "wish"]
a

['닥터 스트레인지', '맘마미아2', '서울의 봄', 'wish']

In [193]:
b=["닥터 스트레인지", "맘마미아2", "서울의 봄"]
b.append("wish")
b

['닥터 스트레인지', '맘마미아2', '서울의 봄', 'wish']

**문제6) 문제5에서 만든 리스트에서 "닥터 스트레인지"를 삭제하라. 최소 2가지 방법을 사용해보자.**

In [194]:
# movie_list= ["닥터 스트레인지", "맘마미아2", "서울의 봄"]
movie_list.remove("닥터 스트레인지")
movie_list

['맘마미아2', '서울의 봄', 'wish']

In [195]:
a.pop(0)
a

['맘마미아2', '서울의 봄', 'wish']

**문제7) 아래 리스트에서 3의 배수만 출력해보자.**

In [20]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[2::3]

[3, 6, 9]

**문제8) 야채 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다. 이를 basket이라는 variable에 list로 저장하여라.**

In [207]:
vegetables = 'cucumber/carrot/onion'
basket = vegetables.split("/")
basket

['cucumber', 'carrot', 'onion']

**문제9) 주어진 리스트를 내림차순으로 정렬해보자.**

In [51]:
data = [2, 4, 3, 1, 5, 10, 9]
data = sorted(data)
data.reverse()
data

[10, 9, 5, 4, 3, 2, 1]

**문제10) 아래 문장의 맨 첫 글자만 대문자로 바꿔서 출력해보세요.**

In [209]:
sentence = 'we wish you a merry Christmas'
sentence.capitalize()

'We wish you a merry christmas'

**문제11) my_tuple 이라는 이름의 비어있는 튜플을 만들고, my_tuple의 data type이 tuple임을 보이세요.**

In [1]:
my_tuple = ()
print(type(my_tuple))

<class 'tuple'>

**문제12) 숫자 15가 저장된 튜플을 생성해보세요.**

In [3]:
my_tuple = (15,)
print(type(my_tuple))

<class 'tuple'>

**문제13) 다음 코드에서 에러가 나는 이유는 무엇일까요?**

In [4]:
t = (1, 2, 3)
t[0] = 'a'

# 튜플안에 튜플을 넣을때는 무조건 variable 괄호안에 튜플을 넣어야한다.
# ex) t = (('a'),1,2,3)
## 튜플은 바꿀수가 없다.

TypeError: 'tuple' object does not support item assignment

**문제14) 변수 t1에는 아래와 같은 값이 저장되어 있습니다. 변수 t1이 ('A', 'b', 'c') 튜플을 가리키도록 수정 해보세요.**

In [235]:
t1 = ('a', 'b', 'c')
t1 = ('A', 'b', 'c')
t1

('A', 'b', 'c')

**문제15) 문제 14에서 만든 튜플을 리스트로 변환해보세요.**

In [239]:
t1 = (['A','b', 'c'])
print(type(t1))

<class 'list'>

**문제16) 주어진 두 리스트 l1, l2 에서 겹치는 element를 추출해보세요.**

In [241]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = ['apple', 9, 18, 'kiwi', 20, 'melon', 1, 4]

{1, 4, 9}

In [243]:
l1 = set(l1)
l2 = set(l2)
l1&l2

{1, 4, 9}