**문제1) 연산기호를 이용해 수식으로 표현해보고 그 결과를 확인해보세요.**

* integer 25와 integer 12를 더하시오.
* integer 13에서 integer 19를 빼시오.
* integer 92과 float 8.0 을 곱하시오.
* float 81.5을 float 2.0으로 나누시오.
* integer 7를 5로 나눴을 때, 몫을 구하시오.
* interger 100을 interger 7로 나눈 나머지를 구하시오.
* integer 3의 세제곱을 구하시오.

**문제2) 다음 각각의 자료형을 말하고, 코드를 작성하여 결과를 확인해보세요.**

* `3`
* `3.0`
* `'3'`
* `'3.0'`
* `"3"`
* `"3.0"`

**문제3) 우유 가격은 1830원이고, 아이스크림 가격은 1500원입니다. 아이스크림은 3개이상 구입시 5%를 할인해줍니다. 우유 2개와 아이스크림 3개를 구입할 때 지불해야 하는 가격을 변수를 활용하여 코드로 작성해보세요.**

**문제4) 1㎡는 0.3025평입니다. 84㎡는 몇 평인가요? 반대로 30평은 몇 ㎡인가요?**

**문제5) 100만원을 월이율 3%인 예금에 1년간 복리로 은행에 맡겼습니다. 1년후에 받는 돈은 얼마인지를 확인하는 코드를 작성해보세요. 출력된 결과는 아래와 같습니다.**

> 1년 후 받는 원금 + 이자는 OOO원입니다.

**문제6) string 연산을 이용하여 다음의 실행결과가 나오도록 코드를 작성해보세요.**

(1)

```
안녕하세요. 안녕하세요. 안녕하세요.
```

(2)
```
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
```

**문제7) `dogs`와 `cats` 두 개의 변수가 다음과 같이 assign되었습니다.**  
`dogs, cats = '12', '7'`  

(1) `dogs`와 `cats` 변수에 할당된 값의 자료형을 확인해보세요.  
(2) 강아지가 고양이보다 몇 마리 더 많은지 확인하는 코드를 작성해보세요. 출력된 결과는 아래와 같은 형식입니다. formatting을 사용해서 표현해보세요.
> 강아지가 고양이보다 n 마리 더 많다.

**문제8) 다음 문제에 답해봅시다.**   

`colors = 'red blue yellow'`  

1) `colors`에서 `b`를 추출하는 코드를 작성해보세요.

2) `colors`에서 `low`를 추출하는 코드를 작성해보세요.

3) `colors`에서 `due`를 추출하는 코드를 작성해보세요.

**문제9) 다음 문제에 답해봅시다.**  

1) `'12345' * 3` 한 것을 변수 `nums`에 할당해보세요.

2) `nums`에서 `111`을 추출하는 코드를 작성해보세요.

3) `nums`에서 `555`을 추출하는 코드를 작성해보세요.

**문제10) 다음 중 variable의 이름으로 적당하지 않은 것은? 그리고 그 이유는?**  

1) `WelshCorgi`
2) `20231225`
3) `__dog`

**문제11) 아래 문장의 오타를 전부 고쳐서 출력해보세요.**

In [5]:
sentence = 'My name ist Stella. I love puppppies and chocolata.'

**문제12) 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력해보세요.**

In [7]:
license_plate = "28가 2291"

**문제13) 다음의 전화번호에서 하이픈 ('-')을 제거하고 다음과 같이 출력해보세요.**

`010 1234 5678`

In [6]:
phone_number = "010-1234-5678"